body {
    margin-top: 100px;
    text-align: center;
  }
  
h1 {
    font-family: Fantasy;
  }
  
select {
    border: 1px solid transparent;
    border-radius: 10px;
    width: 50vw;
    font-size: 20px;
    background-color: #fe2e64;
    color: white;
    height: 40px;
    /* line-height: 40px;*/
  }
option {
    text-align: center;
  }
  
.photo {
    margin-top: 30px;
    width: 70%;
    height: 50vw;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
  
.default.photo {
    display: block;
}
  
.default {
    display: block;
}
  
.korea.photo {
    background: url("src/photo/korea.jpg") no-repeat center;
    background-size: cover;
}
  
.greece.photo {
    background: url("src/photo/greece.jpg") no-repeat center;
    background-size: cover;
}
  
.turkey.photo {
    background: url("src/photo/turkey.jpg") no-repeat center;
    background-size: cover;
}
  
.finland.photo {
    background: url("src/photo/finland.jpg") no-repeat center;
    background-size: cover;
}
  