body {
    text-align: center;
  }
  
  h1 {
    color: white;
    padding-top: 11%;
    padding-bottom: 2%;
  }
  
  input {
    width: 200px;
    height: 30px;
    margin: 8% auto;
    border-radius: 8px;
    font-family: "Segoe UI";
    font-size: 17px;
    text-align: center;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  
  .app {
    width: 400px;
    padding-bottom: 2%;
    min-height: 500px;
    margin: 10% auto;
    border-radius: 22px;
    background: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    letter-spacing: -1px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  }
  
  .info {
    position: relative;
    height: 140px;
    width: auto;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    background: linear-gradient(
        135deg,
        rgba(158, 15, 184, 0.7) -10%,
        rgba(5, 232, 255, 0.8) 180%
      ),
      url(https://static.vecteezy.com/system/resources/previews/000/101/253/non_2x/vector-free-abstract-background-1.jpg);
    background-size: cover;
  }
  
  span {
    text-align: left;
    width: 200px;
    font-weight: bold;
    margin-right: 10%;
  }
  
  li {
    position: relative;
    display: flex;
    list-style: none;
    margin: 10px auto;
    width: 98%;
    min-height: 37px;
    line-height: 37px;
    color: #373638;
    transition: all ease-in-out 0.35s;
  }
  p {
    text-align: left;
    padding: 2% 60% 2% 8%;
    font-weight: bold;
    color: white;
    background: #8943d0;
  }
  
  button {
    border-radius: 8px;
    background: #fbf7ff;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .info-pending {
    float: left;
    margin-left: 20%;
    margin-top: 5%;
    color: white;
    font-weight: lighter;
  }
  
  .info-finished {
    float: right;
    margin-right: 20%;
    margin-top: 5%;
    color: white;
    font-weight: lighter;
  }
  
  .pendingNum {
    float: left;
    margin-left: 25%;
    color: white;
    font-weight: lighter;
  }
  
  .finishedNum {
    float: right;
    margin-right: 25%;
    color: white;
    font-weight: lighter;
  }
  